@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  /* border: 1px solid red; */
}

body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: black;
}

a {
  color: gray;
}

.resume {
  width: 800px;
  height: 1210px;
  margin: 10px auto;
  padding: 20px;
  background-color: #FFFAFA;
}

.top {
  height: 170px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: space-around;
  /* align-content: space-around; */
}

.profile-pic {
  height: auto;
  width: 200px;
  position: relative;
}

.my-info {
  height: auto;
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
}

.inside-info {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
}

.info-links .fa-2x {
  padding: 0 8px;
}

.name {
  font-size: 45px;
  font-weight: 500;
  margin-left: 8px;
}

.job {
  position: absolute;
  top: 45px;
  left: 298px;
}

.job2 {
  position: absolute;
  top: 45px;
  left: 312px;
}

.citizenship {
  position: absolute;
  left: 530px;
  top: 10px;
}

.info-links {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-evenly;
  border-top: 1px solid #D3CECE;
  border-bottom: 1px solid #D3CECE;
  margin-top: 41px;
}

.table-links {
  margin: 0;
  padding: 0;
  height: 20px;
}

.table-links tr:first-child {
  font-weight: bold;
}

.main {
  margin-top: 0;
  height: 830px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: space-around;
  /* align-content: space-around; */
}

.profile-img {
  width: 120px;
  height: auto;
  padding: 5px 0;
  margin-left: 28px;
  filter: grayscale(10%);
  position: absolute;
  left: 25px;
  bottom: 0;
}


.left-side {
  height: auto;
  width: 260px;
  margin: 5px 0 0px 26px;
}

.contact-info .fas {
  padding: 3px
}

.contact-info hr {
  width: 215px;
}

.right-side {
  height: auto;
  width: 470px;
  margin-left: 15px;
}

.tools,
.education,
.experience {
  padding-top: 14px;
}

.skills {
  padding: 3px 0 0 14px;
}

.languages {
  padding: 2px 0 0 18px;
}

.languages td {
  padding: 0 0 0 26px;
}

.languages tr:first-child {
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: 300;
  padding: 5px 0 6px 0;
}

.tools_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #DCDCDC;
  position: relative;
  padding: 8px;
}

.tools_per {
  width: 15%;
}

.tools_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: orange;
}

.resume ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume ul li {
  position: relative;
}

.resume ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
}

.resume ul li .info {
  margin-bottom: 20px;
}

.resume .ul li:last-child .info {
  margin-bottom: 0;
}

.resume ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #0bb5f4;
}

.resume .left-side ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: #0bb5f4;
}



.resume .right-side ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 150px;
  background: #0bb5f4;
}

.resume .right-side ul li:last-child {
  height: 100px;
}

.education li {
  padding-bottom: 12px;
  ;
}

.semi-bold {
  font-weight: bold;
}

.profile {
  margin-top: 5px;
}

.profile-info {
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

.info {
  margin: 0;
  padding: 0;
}

.company-title {
  font-size: 20px;
  font-weight: 600;
}

.job-title {
  font-size: 14px;
  font-weight: 400;
  font-style: oblique;
  padding: 4px;
}

.experience li {
  margin-bottom: 15px;
}

.rating {
  display: flex;
}

.star {
  padding: 0;
  width: 20%;
  font-size: 1vw;
  color: gray;
}

.checked {
  color: orange;
}

.orange {
  color: orange;
  padding: 0;
  font-size: 10px;
  
}

.left-side hr {
  width: 200px;
  height: 0.1em;
  color: #D3CECE;
  margin: 10px 0 0 15px;
}

.right-side hr {
  width: 440px;
  height: 0.1em;
  color: #D3CECE;
  margin: 16px 0 0 10px;
}

.contact-info hr {
  margin-bottom: 3px;
}

.note {
  padding: 5rem 0 0 10rem;
  font-size: 10px;
  color: #2A2A2A;
}
